name: Ubuntu

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    inputs:
      branch:
        required: false
        default: master

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache apt packages
        uses: actions/cache@v4
        with:
          path: /var/cache/apt/archives
          key: ${{ runner.os }}-apt-${{ hashFiles('**/ubuntu.yml') }}
          restore-keys: |
            ${{ runner.os }}-apt-

      - name: install prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            ninja-build \
            cmake-format \
            gcovr \
            graphviz \
            doxygen \
            clang-18 \
            llvm-18-dev \
            libclang-18-dev

      - name: clang-format
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: '18'
          check-path: 'src'

      - name: cmake-lint
        run: (echo "CMakeLists.txt"; find src -name "*.cmake" -o -name "CMakeLists.txt") | xargs cmake-lint

      - name: configure
        run: cmake --preset=clang-coverage

      - name: build
        run: cmake --build --parallel $(nproc) --preset=clang-coverage

      - name: test
        run: ctest --preset=clang-coverage --output-junit test-results.xml

      - name: generate coverage report
        run: |
          GCOV="llvm-cov-18 gcov" gcovr \
            --xml --output build/clang-coverage/coverage.xml \
            --exclude-unreachable-branches \
            --print-summary

      - name: upload coverage
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: build/clang-coverage/coverage.xml,build/clang-coverage/test-results.xml
          fail_ci_if_error: true
