name: Windows (MSVC)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      branch:
        required: false
        default: master

env:
  CTEST_OUTPUT_ON_FAILURE: 1

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install LLVM/Clang
        run: |
          winget install LLVM.LLVM --version 18.1.8 --disable-interactivity --accept-source-agreements --accept-package-agreements

      - name: configure
        run: cmake --preset=msvc-release

      - name: build
        run: cmake --build --parallel $(nproc) --preset=msvc-release

      - name: test
        run: ctest --preset=msvc-release

